* {margin:0;padding:0;list-style-type: none}
h1, h2, h3 { font-family: "CaeciliaLTStd-light", Arial, Verdana, Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight: normal}
h1 {font-size: 60px;color: #f28121;margin-bottom: 20px}
h2 {font-size: 28px;color: #ffffff;margin-bottom: 20px}
h3 {font-size: 20px;color: #b6b6b6;position: absolute;bottom: 198px;right: 0}
.bg-genesis {width: 100%;display: table;background: url("../img/bg_home.jpg") no-repeat center top}
.bg-lft {width: 100%;display: table;background: url("../img/sombra_left.png") repeat-y left}
.bg-rgt {width: 100%;display: table;background: url("../img/sombra_right.png") repeat-y right}
.wrapper {width: 1086px;display: block;margin:0 auto}
.box-left,.box-right {height: 900px;position: relative;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.box-left{width: 440px;float: left;padding-top: 272px;*height:628px;}
.box-left a {width: 138px;height: 56px;position: absolute;left: 0;bottom: 70px}
.box-right {width: 646px;float: right;padding-top: 173px;*height:727px;}
#navegacao {width: 553px;height: 553px;position: relative}
#navegacao li a{width: 313px;height: 270px;position: absolute; text-indent: -999999px; overflow: hidden}
a.item1 {left: 0;top: 5px;background: url("../img/item1.png") no-repeat left top}
a.item2 {left: 237px;top: 141px;background: url("../img/item2.png") no-repeat left top}
a.item3 {left: 0;top: 277px;background: url("../img/item3.png") no-repeat left top}
#navegacao li a.item1:hover {width: 601px;height: 564px;left: -147px;top: -150px;z-index: 99;background: url("../img/h_item1.png") no-repeat left top}
#navegacao li a.item2:hover {width: 587px;height: 572px;left: 173px;top: 16px;z-index: 99;background: url("../img/h_item2.png") no-repeat left top}
#navegacao li a.item3:hover {width: 596px;height: 520px;left: -147px;top: 200px;z-index: 99;background: url("../img/h_item3.png") no-repeat left top}